.add
{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    color:#89c9b8;
}
.background{
    background-image: linear-gradient(to bottom , #89c9b8 , #e1ffc2)
}
.footer
{
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
}